div.parent {
    position: relative;
}

input {
    /* important */
    font-family: sans-serif;
    font-size: 16px;
    vertical-align: baseline;
    /* end important */
    width: 100%;
    padding: 15px 10px;
    border: 0 solid #e0e0e0;
    background: #eee;
    font-weight: 300;
}

.ghost-text {
    /* important */
    font-family: sans-serif;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0;
    /* end important */
    background: none;
    padding: 15px 10px;
    border: 0;
    width: 369px;
    font-weight: 300;
    height: 35px;
    color: #999999;
    margin-top: 2px;
}